<h1>Ask anything to your coach</h1>
<p>Ask your coach anything</p>

<form class="form-group" action="/answer" method="get">
  <input type="text" name="ask">
  <input type="submit" class="btn btn-gradient" value="Ask!">
</form>

